<h1 class="text-center"><%= @court.name %> </h1>
<h3 class="text-center"><%= "#{@court.address}, #{@court.city}, #{@court.state}" %> </h1>
<div class="text-center pb-2">
        <%= button_to "Create Game", {controller: "games", action: "create", court_id: @court.id }, class: 'btn btn-primary' %>
</div>
<table class="table">
    <thead>
        <th></th>
        <th>Player1</th>
        <th>Opponent</th>
        <th>Ref</th>
    </thead> 
    <tbody>
        <% @games.each do |game| %>
            <tr>
                <td>
                    <%= link_to game do%>
                        <%= image_tag('BasketBall.png', width: 20) %>
                    <% end %>
                </td>
                <td><%= game.user.nickname %></td>
                <% if game.opponent.nil? %>
                    <td><%= render 'games/set_opponent', game: game %></td>
                <% else %>
                     <td><%= game.opponent&.nickname %></td>
                <% end %>
                <% if game.score_keeper.nil? %>
                    <td><%= render 'games/set_scorekeeper', game: game %></td>
                <% else %>
                     <td><%= game.score_keeper&.nickname %></td>
                <% end %>
                
            </tr>
        <% end %>
    </tbody>
</table>